        <li class="list-group-item">
          <% if stop["direction"]["prediction"].length>0 %>
            <h4>Stop: <%=stop["stopTitle"]%>, provider <%=stop["agencyTitle"]%> follows route <%=stop["routeTitle"]%></h4>
            <br>
            
            <% stop["direction"]["prediction"].each do |time|%>
              
              
              <li class="list-group-item">
              <% unless time.is_a?(Array)%>  
                <% if time["isDeparture"] %>
                  Vehicle number "<%=time["vehicle"]%>" <%=stop["direction"]["title"]%> arrives in 
                  <% if time["minutes"].to_i<1 %> 
                    <%= time["seconds"] %> sec
                  <% else %>
                    <%= time["minutes"] %> min
                  <% end %> 
                <% end %> 
              <% end %> 
              </li>
              
            <% end %>
           <% end %> 

        </li>