<html>
<head>
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div></div>

  <div class="container">
    <h3>Your IP address is <%=@client_ip%> with longitude <%=@lon%> and latitude <%=@lat%></h3>
    <h4>You are in <%=@locate%></h4>
    <br>
  
  <div class="container">
    <% if @departures["body"]["error"].nil? && @departures["body"]["predictions"]%>
    has predictions
    <table class="table table-condensed">

      <%@departures["body"]["predictions"].each do |stop|%>
      <ul class="list-group">
        <% if  !stop["direction"].nil? %>
          <%= render partial: 'stop', locals: {stop: stop}%>

        <% end %>
      </ul>
      <% end %>
   
    </table>
    <% else %>
      <h3>No scheduled public transfers nearby</h3>
    <% end %>
  </div>
</body>
</html>